version: '3' 
services:
  protege-docker-x11:
    image: openkbs/protege-docker-x11
    build:
      context: .
      dockerfile: Dockerfile
    container_name: protege-docker-x11
    environment:
      - DISPLAY=${DISPLAY:-localhost:0}
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
    env_file:
      - ./.env
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./.Protege:/home/developer/.Protege
      - ./plugins:/home/developer/Protege/plugins
      - ./data:/home/developer/data
      - ./workspace:/home/developer/workspace
      ## -- Uncomment the following and comment above to use `pwd`
      ## -- And, create directories using "mkdir -p .Protege Workspace Plugin"
      #- ${PWD}/.Protege:/home/developer/.Protege
      #- ${PWD}/Plugins:/home/developer/Protege/plugins
      #- ${PWD}/data:/home/developer/data
      #- ${PWD}/workspace:/home/developer/workspace
      ## -- Uncomment the following and comment above to use `${HOME}/....`
      #- ${HOME}/data-docker/protege-docker-x11/.Protege:/home/developer/.Protege
      #- ${HOME}/data-docker/protege-docker-x11/plugins:/home/developer/Protege/plugins
      #- ${HOME}/data-docker/protege-docker-x11/data:/home/developer/data
      #- ${HOME}/data-docker/protege-docker-x11/workspace:/home/developer/workspace      

